/* Header */

header .container .row .ilustrasi {
    width: 340px;
    height: 430px;
}

header {
    max-height: 450px;
}

@media(max-width:800px) {
    header {
        margin-top: 0;
    }
    header .ilustrasi img {
        width: 250px;
        height: 300px;
        position: relative;
        left: 100px;
        top: 100px;
    }
    header h1,
    p {
        width: 300px;
    }
}

@media(max-width:500px) {
    header {
        height: 300px;
    }
    header .tentang {
        padding-top: 50px;
        font-size: 30px;
        width: 200px;
    }
    header .ilustrasi img {
        width: 130px;
        height: 180px;
        position: relative;
        left: 180px;
        top: 0px;
    }
    header p {
        width: 100px;
    }
}


/* main */

main {
    padding-top: 120px;
}

@media(max-width:800px) {
    main {
        padding-top: 50px;
    }
}

main .container h3 {
    color: #123158;
    font: SFProText;
    font-size: 32px;
    letter-spacing: -0.5px;
    line-height: 38px;
    text-align: left;
}

main .container button {
    border-style: none;
    margin-top: 40px;
}

@media(max-width:500px) {
    main .container .santri-muslimah {
        margin-top: 10px;
    }
}

main .container button:focus {
    outline: none;
}

main .container .santri-muslim {
    color: #123158;
    font-family: SFProText;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 17px;
    text-align: center;
    border-radius: 28px;
    width: 180px;
    height: 46px;
    opacity: 0.4;
}

main .container .santri-muslimah {
    color: #123158;
    font-family: SFProText;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 17px;
    opacity: 0.4;
    text-align: center;
    border-radius: 28px;
    width: 198px;
    height: 46px;
}

main .container .active {
    background-color: #3E64FF;
    color: #FFFFFF;
    opacity: 1;
}

main .container ul {
    padding-top: 24px;
}

main .container ul li {
    color: #123158;
    font: SFProText;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 29px;
    text-align: left;
}

main .container li::marker {
    background-color: #3E64FF;
    border-radius: 100%;
}


/* section */

section .container .h2 {
    margin-top: 0px;
}